html,
body,
#root,
.fullHeight {
  height: 100%;
  width: 100%;
}

.mapbox-direction-component {
  /* width: 80%; */
}

.directions-control {
  width: 75%;
  z-index: 1;
}

.mapView {
  border: 0.5rem inset #0a0907;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
