@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

/* :root {
  padding: 0;
  margin: 0;
} */
html {
  font-family: 'Lora', serif;
  --main-bg-color: #a9bcd0;
  --main-accent-color: whitesmoke;
  --main-font-color: #373f51;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions-control.directions-control-instructions {
  width: 105%;
  z-index: 1;
}
