@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body {
  font-family: 'Lora', serif;
  --main-bg-color: #a9bcd0;
  --main-accent-color: whitesmoke;
  --main-font-color: #373f51;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
  padding: 0.75rem;
}

.overlays {
  height: 90%;
  width: 100%;
  max-width: 705px;
}

input {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
}

.input-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: rgb(219, 12, 12);
}

.clear-button {
  margin: 0 0 0 1rem;
}
