@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
  font-family: 'Lora', serif;
  --main-bg-color: #a9bcd0;
  --main-accent-color: #699bd1;
  --main-font-color: #373f51;
}
@media (max-width: 768px) {
  .navbar-expand-sm {
    background: no-repeat center url('../Images/Suess2.jpg');
    /* width: auto; */
  }
  html {
    font-size: 16px;
    /* padding: 8px; */
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem #699bd1;
}

.navbar-expand-sm {
  background-color: var(--main-accent-color);
  /* width: 1140px; */
}

/* @media (min-width: 992px) {
  .container,
  .navbar {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container,
  .navbar {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container,
  .navbar {
    max-width: 540px;
  }
} */
